.body4{
    background: url('../../contenidoestilos/breed.jpg') center no-repeat;
    background-repeat: no-repeat;
	background-size:cover all;
	margin-top: 0%;
	padding: 0%;
	height: 100vh;
    align-items: center;
    box-sizing: border-box;
    
}

.containerdetail{
    font-family: font-family;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgba(51,51,51,0.25);
    display: block;
    max-width: 420px;
    overflow: hidden;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2em;
    position: absolute;
        top: 55%;
        left: 20%;
        z-index: 1;
    width: 98%;
}
.containerdetail:before{
    background: url('../../contenidoestilos/breed.jpg') center no-repeat;
    background-size: cover;
    content: '';
    -webkit-filter: blur(10px);
    filter: blur(10px);
    height: 100vh;
    position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100vw;
}
.containerdetail:after{
background: rgba(255,255,255,0.6);
content: '';
display: block;
height: 100%;
position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
width: 100%;
}

.image{
    border-radius: 10px;
  }