.breed-card {
  border: solid 2px ;
  width:300px;
  padding:10px;
  margin:10px;
  height: 350px;
  background-color: #EEBCB1;
  opacity:95%;
  border-radius: 25px;
  margin-top: 15px !important;
  padding-top: 0px !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
  
  .contenedor2{
    flex-direction:row;
    flex-wrap: wrap;
  justify-content: space-evenly;
    display:flex;
    align-items: center;
}
    
  
  
  
  
 
  .name {
      color:grey;
      font-size: 20px;
      margin-bottom: 13px;
      line-height: normal;
      position: relative;
  }
 
  .description {
    bottom: 0px;
    height: 50px;
    font-size: 16px;
    line-height: 26px;
    color:grey;
    
  }
  
  
 
