.body2{
    background: url('../../contenidoestilos/cachorros.jpg') center no-repeat;
    margin-top: -17%;
    margin-left: -2%;
    margin-right: -0.6%;
    padding: -1%;
	height: 110vh;
    align-items: center;


   
}
.bodycard {
    align-items: center;
    background: transparent;
    color: font-color;
    display: grid;
    font-family: font-family;
    font-size: 17px;
    font-weight: 400;
    height: 100vh;
    justify-items:self-start;
    
}


    .containerform{
        
        border-radius: 0.5em;
        box-shadow: 0 0 1em 0 rgba(51,51,51,0.25);
        display: block;
        max-width: 480px;
        overflow: hidden;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 2em;
        position: absolute;
            top: 60%;
            left: 50%;
            z-index: 1;
        width: 98%;
    }
    .containerform:before{
        background: url('../../contenidoestilos/cachorros.jpg') center no-repeat;
        background-size: cover;
        content: '';
        -webkit-filter: blur(10px);
        filter: blur(10px);
        height: 100vh;
        position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 100vw;
    }
.containerform:after{
	background: rgba(255,255,255,0.6);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	width: 100%;
}



    .button1 {
        margin-left: 2vh;
    padding: 7px 30px;
    
    outline: none;
    border: none;
    font-size: 14px;
    
    cursor: pointer;
    background-color: var(--primary);
	box-shadow: 5px 19px 23px 8px rgba(0, 0, 0, 0.53);
        align-items: center;
        margin-top: 25px !important;
        border: 1px solid rgba(0,0,0,.2);
        height: 40px;
        display: grid;
        cursor:pointer;
        border-radius: 15px;
        font-family: font-family;
        position: relative;
        width: 20%;
      }
  
      /* & #back {
        background: #fff;
        transition: .2s all ease-in-out;
        */
    .button:hover {
          background: #171A2B;
          color: white;
        } 


        .buttondelete {
            align-items: center;
            margin-top: 25px !important;
            border: 1px solid rgba(0,0,0,.2);
            height: 35px;
            display: grid;
            cursor:pointer;
            border-radius: 19px;
            font-family: font-family;
            position: relative;
          }

          .yellow{
              color:rgb(77, 62, 124);
          }