
.body{
    /* background: url('../../contenidoestilos/doginicio3.gif'); */
    background: url('../../contenidoestilos/start.jpg') center no-repeat;
            /* background: burlywood; */
    background-repeat: no-repeat;
	background-size: cover;
	margin-top: -1%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: -1%;
	padding: -1%;
	height: 100vh;
    align-items: center;
    box-sizing:unset;
}




.button {
    font-family:  font-family 5px;
    font-size: 20px;
    margin-top: 140px !important;

    position: absolute;
    top: 20%; 
    width: 140px;
    height: 50px;
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    background-color:A7B0BB;
    display:flexbox;
	margin-top: 80px;
    left: 1175px;
	position: left;
    justify-content:center;
    color: black;
    margin-bottom: 20px;
    border-radius: 32px;
    text-align: center;
    cursor:pointer;
    transition: all 0.1s ease-in-out;
    
}

.button:hover {
    cursor: pointer;
    background-color: #85868E;
    
}

.letsee{
    left: 1150px;
    font-size: 70px;
    color:black;
    position: absolute;
    top: 20%; 
    width: 120px;
    font-family:  font-family ;
    margin-top: -110px !important;
}


.letsee1{
    left: 1146px;
    font-size: 70px;
    color:white;
    position: absolute;
    top: 20%; 
    width: 120px;
    font-family:  font-family ;
    margin-top: -110px !important;
}
.patita{
    left: 990px;
    position: absolute;
    top: 20%; 
    width: 280px;
    margin-top: 150px !important;
}