
.body{
    /* background: url('../../contenidoestilos/doginicio3.gif'); */
    background: url('../../contenidoestilos/start.jpg') center no-repeat;
            /* background: burlywood; */
    background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0%;
	padding: 0%;
	height: 100vh;
    align-items: center;
    box-sizing: border-box;
}




.button {
    font-family:  font-family 5px;
    font-size: 20px;
    margin-top: 70px !important;

    position: absolute;
    top: 20%; 
    width: 120px;
    height: 50px;
    padding: 0.5rem;
    border: none;
    border-radius: 0.3rem;
    background-color:A7B0BB;
    display:flexbox;
	margin-top: 80px;
    left: 1250px;
	position: left;
    justify-content:center;
    color: black;
    margin-bottom: 25px;
    border-radius: 32px;
    text-align: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    
}

.button:hover {
    cursor: pointer;
    background-color: #85868E;
    
}

