.search{
position: relative;
top: -50px;
left: 600px;
    margin: auto;
    max-width: 400px;
    width: 90%;
    cursor: auto;
    
        font-size: 20px;
        padding: 20px;
        border-radius: 20px;
        outline: 0;
        border: 2px solid var(--color);
        
    }

    .buttonSearch{
        position: relative;
        top: -0px;
        left: -50px;
        cursor:pointer;
        width: 110px;
        border-radius: 10%;
        margin-left: 2vh;
      padding: 8px 10px;
      
      outline: none;
      border: none;
      font-size: 18px;
      
      cursor: pointer;
      background-color: var(--primary);
      box-shadow: 5px 10px 20px 8px rgba(0, 0, 0, 0.30);;
    }


.buttonReset{
    position: relative;
    top: -38px;
    left: 330px;
        cursor:pointer;
        width: 130px;
        border-radius: 10%;
        margin-left: 2vh;
      padding: 8px 10px;
   
      outline: none;
      border: none;
      font-size: 18px;
      
      cursor: pointer;
      background-color: var(--primary);
      box-shadow: 5px 10px 20px 8px rgba(0, 0, 0, 0.30);
    
}
.buttoncreate{
    position: relative;
    top: -0px;
    left: -50px;
        cursor: text;
        width: 180px;
        border-radius: 10%;
        margin-left: 2vh;
      padding: 8px 10px;
   
      outline: none;
      border: none;
      font-size: 18px;
      
      cursor: pointer;
      background-color:white;
      box-shadow: 5px 10px 20px 8px rgba(0, 0, 0, 0.30);
}

    /* https://media.tenor.com/images/a6a011e9bb212e986f2e1d8f3398f6fa/tenor.gif */
    