.search{
position: relative;
    margin: auto;
    max-width: 400px;
    width: 90%;
    
        font-size: 20px;
        padding: 10px 55px 10px 20px;
        border-radius: 20px;
        outline: 0;
        border: 2px solid var(--color);
        width: 100%;
    }
